In [1]:
import pandas as pd 
import numpy as np

In [5]:
mujeres = pd.read_csv("mujeres.csv")
mujeres.head()

             nombre  frec  edad_media
0   MARIA GUADALUPE  7105       42.81
1           LETICIA  5848       43.66
2          PATRICIA  5422       42.41
3         GUADALUPE  5348       43.38
4  MARIA DEL CARMEN  4881       44.04

In [6]:
hombres = pd.read_csv("hombres.csv")
hombres.head()

         nombre  frec  edad_media
0     JOSE LUIS  7028       45.13
1  MIGUEL ANGEL  5137       41.78
2     FRANCISCO  4853       46.73
3          JUAN  4655       47.27
4         JESUS  4198       44.66

In [9]:
apellidos = pd.read_csv("apellidos.csv")
apellidos.head()

    apellido  frec_pri  frec_seg
0  HERNANDEZ     44095     44333
1     GARCIA     33010     33351
2   MARTINEZ     31080     31087
3      LOPEZ     30288     30188
4   GONZALEZ     25356     25362

In [25]:
registros = []
num_registros = 3658
for llave in range(num_registros + 1):
    edad = sum(np.random.binomial(25, .8, 1))
    apellido_paterno = np.random.choice(apellidos.apellido, 1)[0]
    apellido_materno = ""
    generacion = np.random.randint(1, 12, 1)[0]
    if np.random.uniform() < 0.8:
        apellido_materno = np.random.choice(apellidos.apellido, 1)[0]
    if np.random.uniform() < 0.5: # Mujer
        genero = "M"
        nombre = np.random.choice(mujeres.nombre, 1)[0]
    else:
        genero = "H"
        nombre = np.random.choice(hombres.nombre, 1)[0]
    registros.append([llave, nombre, apellido_paterno, apellido_materno,
                      genero, edad, generacion])

In [26]:
estudiantes = pd.DataFrame(registros, columns=["llave_estudiante", "nombre", "apellido_paterno", "apellido_materno", "genero", "edad", "generacion"])
estudiantes.tail()

,llave_estudiante,nombre,apellido_paterno,apellido_materno,genero,edad,generacion
3654,3654,ROCIO AZUCENA,TORREBLANCA,CHAPA,M,22,4
3655,3655,ALEJANDRA GEORGINA,TLAXCALTECATL,,M,22,10
3656,3656,JESUS FELIPE,YERBAFRIA,MENDOZA,H,20,1
3657,3657,JUAN ARTEMIO,VILLASE%OR,TETUAN,H,16,2
3658,3658,OSCAR SALVADOR,BENCOMO,SILICEO,H,22,8

In [27]:
estudiantes.to_csv("estudiantes.csv", index = False)