In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sp.csv')
df.head()

             Nombre ApellidoMaterno ApellidoPaterno
0             ABEL           ABARCA           AYALA
1          ALFONSO          DE ALBA          AGUAYO
2  ALICIA VIRIDIANA           AYALA       ALCERRECA
3       FLOR KARINA           AMAYA           AVILA
4      JORGE ARTURO         ABASCAL         ANDRADE

In [3]:
ap_mat = pd.DataFrame(data=df.ApellidoMaterno.unique())
ap_mat.to_csv('../apellido_materno.csv', index=False)

In [4]:
ap_pat = pd.DataFrame(data=df.ApellidoPaterno.unique())
ap_pat.to_csv('../apellido_paterno.csv', index=False)

In [5]:
generos = []
for i in range(df.shape[0]):
    a = np.random.randint(0,2)
    if a <= 0.5:
        generos.append('F')
    else:
        generos.append('M')
G = np.array(generos)
print(G.shape)
G

(3657,)

array(['F', 'F', 'M', ..., 'F', 'M', 'F'], dtype='<U1')

In [6]:
df = df.rename(columns={'Nombre':'nombre_estudiante', 'ApellidoMaterno':'apellido_materno', 'ApellidoPaterno':'apellido_paterno'})
df.insert(0,"llave_estudiante",np.arange(1,df.shape[0]+1))
df.insert(4,"genero",G)
df.insert(5,"llave_generacion",np.random.randint(1,12,size=(df.shape[0],1)))
df.head()

,llave_estudiante,nombre_estudiante,apellido_materno,apellido_paterno,genero,llave_generacion
0,1,ABEL,ABARCA,AYALA,F,5
1,2,ALFONSO,DE ALBA,AGUAYO,F,9
2,3,ALICIA VIRIDIANA,AYALA,ALCERRECA,M,2
3,4,FLOR KARINA,AMAYA,AVILA,M,3
4,5,JORGE ARTURO,ABASCAL,ANDRADE,F,9

In [8]:
df.to_csv('../estudiante.csv', index=False)