In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('sp.csv')
df.head()

             Nombre ApellidoMaterno ApellidoPaterno
0             ABEL           ABARCA           AYALA
1          ALFONSO          DE ALBA          AGUAYO
2  ALICIA VIRIDIANA           AYALA       ALCERRECA
3       FLOR KARINA           AMAYA           AVILA
4      JORGE ARTURO         ABASCAL         ANDRADE

In [41]:
ap_mat = pd.DataFrame(data=df.ApellidoMaterno)
ap_mat.to_csv('apellido_materno.csv', index=False)

In [42]:
ap_pat = pd.DataFrame(data=df.ApellidoPaterno)
ap_pat.to_csv('apellido_paterno.csv', index=False)

In [43]:
generos = []
for i in range(df.shape[0]):
    a = np.random.randint(0,2)
    if a <= 0.5:
        generos.append('F')
    else:
        generos.append('M')
G = np.array(generos)
print(G.shape)
G

(3657,)

array(['F', 'M', 'F', ..., 'M', 'M', 'F'], dtype='<U1')

In [44]:
df = df.rename(columns={'Nombre':'nombre_estudiante', 'ApellidoMaterno':'apellido_materno', 'ApellidoPaterno':'apellido_paterno'})
df.insert(0,"llave_estudiante",np.arange(1,df.shape[0]+1))
df.insert(4,"genero",G)
df.insert(5,"llave_generacion",np.random.randint(1,12,size=(df.shape[0],1)))
df.head()

,llave_estudiante,nombre_estudiante,apellido_materno,apellido_paterno,genero,llave_generacion
0,1,ABEL,ABARCA,AYALA,F,5
1,2,ALFONSO,DE ALBA,AGUAYO,M,10
2,3,ALICIA VIRIDIANA,AYALA,ALCERRECA,F,2
3,4,FLOR KARINA,AMAYA,AVILA,F,7
4,5,JORGE ARTURO,ABASCAL,ANDRADE,F,2

In [45]:
df.to_csv('estudiante.csv', index=False)